service preperms /system/bin/sh /product/etc/preperms/foss_preperms.sh
    user root
    group root
    seclabel u:r:init:s0
    disabled
    oneshot

on property:sys.boot_completed=1
    start preinstall
